.container {
  width: 100%;
  height: calc(100% - 4% - 3.75rem);
  
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_heading_container {
  display: flex;
  flex-direction: column;
}

.main_heading {
  font-family: 'League Spartan', sans-serif;
  font-style: normal;
  color: var(--white);

  font-weight: 800;
  font-size: 4.625rem;
}

/* Gotta fix this up innit */
.home_main_heading_span {
  color: var(--black);
  font-weight: 800;
}

.subheading_container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subheading {
  font-family: 'Sanchez', sans-serif;
  font-style: normal;
  color: var(--white);

  font-weight: 400;
  font-size: 1.375rem;
}

.socials_section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials_container {
  width: fit-content;
  height: fit-content;

  position: relative;
  display: inherit;
  align-items: center;
  justify-content: center;
}

.socials_logo_container {
  width: fit-content;
  height: fit-content;

  display: inherit;
  align-items: center;
  justify-content: center;
}

.socials_logo_container {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: inherit;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  z-index: 2;
}

.image_overlay {
  position: absolute;
  background: transparent;
  width: 100%; 
  height: 100%;
  border-radius: 50%;
}

.socials_links_container {
  width: 50rem;
  height: 24.375rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
}

.socials_link_container {
  font-size: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials_links {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials_list {
  width: 100%;
  z-index: 1;

  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socials_list_a, .socials_list_b {
  width: fit-content;
  height: fit-content;

  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
}

.socials_list_item {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.socials_links_gap {
  width: 0px;
  height: 52px;
}

.socials_links_gap_active {
  animation: socials_links_active 0.6s forwards;
}

.socials_links_gap_inactive {
  animation: socials_links_inactive 0.4s forwards;
}

.socials_logo_container {
  max-width: 380px;
  max-height: 380px;
}

.socials_logo_image {
  max-width: 380px;
  max-height: 380px;
}

/* Styles for extra small devices */
@media (max-width: 575.98px) { /* Original is 575.98px */
  /* Your styles here */
  .socials_links_container {
    width: 24rem!important;
  }

  .socials_logo_container {
    max-width: 220px!important;
    max-height: 220px!important;
  }

  .socials_logo_image {
    max-width: 220px!important;
    max-height: 220px!important;
  }

  .socials_list_a, .socials_list_b {
    row-gap: 1rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .main_heading {
    font-size: 3rem;
  }
}

/* Keyframes */
@keyframes socials_links_active {
  from {width: 0px;}
  to {width: 100%;}
}

@keyframes socials_links_inactive {
  0% {width: 100%;} 
  100% {width: 0px;}
}


/* Styles for small devices / Skip the ones not required */
/* @media (min-width: 576px) and (max-width: 767.98px) { */
  /* Your styles here */
/* } */

/* Styles for medium devices */
@media (max-width: 991.98px) {
  /* Your styles here */
    .socials_logo_container {
    max-width: 300px;
    max-height: 300px;
  }

  .socials_logo_image {
    max-width: 300px;
    max-height: 300px;
  }

  .socials_links_container {
    width: 34rem;
  }

  .socials_list_a, .socials_list_b {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2.5rem;
  }

  .subheading {
    font-size: 1.1rem;
  }

  .main_heading {
    font-size: 3.4rem;
  }
}

/* Styles for large devices */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Your styles here */
  .socials_links_container {
    width: 46rem;
  }

  .subheading {
    font-size: 1.2rem;
  }

  .main_heading {
    font-size: 4rem;
  }
}

/* Styles for extra large devices */
@media (min-width: 1200px) {
  /* Your styles here */
}
