.navbar_container {
  width: 100%;
  bottom: 5%;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 90%;
  max-width: 73.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_inner {
  width: 100%; 
  display: flex;
  justify-content: space-between;
}

.navbar_left_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);

  border-radius: 15px;
}

.navbar_left_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.navbar_left_item {
  width: fit-content;
  cursor: pointer;
  height: 3.75rem;
}

.navbar_left_item:hover {
  opacity: 0.8;
}

.nabar_left_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%; 
  height: 100%;
  padding: 0px 38px;
}

.navbar_left_item_text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;

  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(232, 237, 231, 0.72);
}

.navbar_right_container {
  width: 11rem;
  height: 3.75rem;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
}

.hamburger_menu_container {
  display: none;
}

.hamburger_menu_button {
  background-color: transparent;
  border: none;
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 3.75rem;
}

@media screen and (max-width: 1080px) {
  .nabar_left_item_link {
    padding: 0px 24px;
  }

  .navbar_right_container {
    width: 5.5rem;
  }
}

@media screen and (max-width: 840px) {
  .hamburger_menu_container {
    display: inline;
    padding: 0px 8px;
  }

  .navbar_left_list {
    display: none;
  }
}