:root {
  --primary-bg-color-a: #004044;
  --primary-bg-color-b: #00C0FF;
  --primary-color-a: #5CE1E6;

  --black: #000000;
  --white: #FFFFFF; 
}

html,
body {
  /* Base/Default styles */
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  box-sizing: content-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Define main background */
/* &::before is rendering the grainy texture */
#noisy-background-filter::after {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(135deg, #004044, #00C0FF);
}

#noisy-background-filter::before {
  opacity: 0.4; 
}

#noisy-background-filter::after, #noisy-background-filter::before {
  mix-blend-mode: soft-light;
}

@keyframes socials_links_active {
  from {width: 0px;}
  to {width: 100%;}
}

@keyframes socials_links_inactive {
  0% {width: 100%;} 
  100% {width: 0px;}
}